## [Link](https://towardsdatascience.com/how-to-style-pandas-dataframes-like-a-pro-541c84142c17)

In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame({
    "A": [0, -5, 12, -4, 3],
    "B": [12.24, 3.14, 2.71, -3.14, np.nan],
    "C": [0.5, 1.2, 0.3, 1.9, 2.2],
    "D": [2000, np.nan, 1000, 7000, 5000]
})
df

    A      B    C       D
0   0  12.24  0.5  2000.0
1  -5   3.14  1.2     NaN
2  12   2.71  0.3  1000.0
3  -4  -3.14  1.9  7000.0
4   3    NaN  2.2  5000.0

### 1. Basic Formatting with Pandas Styles

In [2]:
df.style.hide(axis="index")

In [3]:
df.style.format(precision=2)

In [4]:
df.style.format("- {:.3f} -")

In [5]:
df.style.format({
    "A": "{:.2f}",
    "B": "{:,.5f}",
    "C": "{:.1f}",
    "D": "$ {:,.2f}"
})

### Use Pandas Styler to Change Text and Background Color

In [6]:
df.style.highlight_max()

In [7]:
df.style.highlight_min()

In [8]:
df.style.highlight_null(null_color="red")

In [9]:
df.style.format(na_rep="Missing").highlight_null(null_color="red")

In [10]:
df.style.background_gradient()

In [11]:
df.style.background_gradient(subset=["B", "D"])

In [12]:
df.style.text_gradient(subset=["C"], cmap="RdYlGn", vmin=0, vmax=2.5)

In [13]:
df.style.background_gradient(subset=["C"], cmap="RdYlGn", vmin=0, vmax=2.5)

In [14]:
df.style.format(precision=2).bar(color="orange")

In [15]:
df.style.format(precision=2).bar(align="mid", color=["red", "lightgreen"]).set_properties(**{"border": "1px solid black"})

In [16]:
properties = {"border": "2px solid gray", "color": "green", "font-size": "16px"}
df.style.set_properties(**properties)

### Advanced: Style Header Row and Index Column

In [17]:
cell_hover = {
    "selector": "td:hover",
    "props": [("background-color", "#FFFFE0")]
}
index_names = {
    "selector": ".index_name",
    "props": "font-style: italic; color: darkgrey; font-weight:normal;"
}
headers = {
    "selector": "th:not(.index_name)",
    "props": "background-color: #800000; color: white;"
}

df.style.set_table_styles([cell_hover, index_names, headers])

In [18]:
headers = {
    "selector": "th:not(.index_name)",
    "props": "background-color: #800000; color: white; text-align: center"
}
properties = {"border": "1px solid black", "width": "65px", "text-align": "center"}

df.style.format(precision=2).set_table_styles([cell_hover, index_names, headers]).set_properties(**properties)

### Advanced: Declare Custom Styles with Pandas Styler

In [19]:
def mean_highlighter(x):
    style_lt = "background-color: #EE2E31; color: white; font-weight: bold;"
    style_gt = "background-color: #31D843; color: white; font-weight: bold;"
    gt_mean = x > x.mean()
    return [style_gt if i else style_lt for i in gt_mean]
    
    
df.style.apply(mean_highlighter)

In [20]:
def negative_highlighter(x):
    is_negative = x < 0
    return ["color: #EE2E31" if i else "color: #000000" for i in is_negative]
    
    
df.style.apply(negative_highlighter)

### How to Export Styled Pandas DataFrame to Excel

The result of all Pandas Style API functions is a Pandas DataFrame. As such, you can call the to_excel() function to save the DataFrame locally. If you were to chain this function to a bunch of style tweaks, the resulting Excel file will contain the styles as well.

In [21]:
df.style.background_gradient(cmap="RdYlGn").to_excel("table.xlsx")